@import '~sass/variables';

.container{
  padding-top: 80px;

  .mat-card-title{
    margin: 0 22px 10px 22px;
  }
  mat-vertical-stepper{
    background: inherit;
  }
  mat-form-field{
    min-width: 50%;
  }
  .mat-form-field-width{
    width: 90%;
  }
  .ls-error{
    color: $error-color;
    font-size: 14px;
    margin: 0;
  }
  .container-lsKey{
    position: relative;
  }
  app-delete-input-value{
    position: absolute;
    top: 26%;
    right: 12%;
    cursor: pointer;
  }
  .delete-input-lsKey{
    right: 50%;
    top: 35%;
  }
  .item-description{
    font-size: 14px;
    margin: 10px 0;
  }
  .item-description span{
    color: $item-description-color;
    padding-right: 8px;
    font-size: 13px;
    font-weight: bold;
  }
  .link-edit{
    color: $primary-color;
    border-bottom: 1px solid $primary-color;
  }
  .link-edit:hover{
    color: $link-edit-hover-color;
    border-bottom: 1px solid $link-edit-hover-color;
  }
  .btn-cancel{
    margin-right: 10px;
  }
  .button-find{
    margin-top: 8px;
  }
  .button-wrapper{
    margin-top: 16px;
  }
  .button-wrapper-second{
    margin-top: 24px;
  }
  ::ng-deep .mat-step-header .mat-step-icon,
  ::ng-deep .mat-step-header .mat-step-icon-not-touched{
    color: $step-color;
  }
  .input-accessKey{
    border: none;
    outline: none;
    pointer-events: none;
    width: 42%;
    font-size: 16px;
  }
  .toolbar-item{
    cursor: pointer;
    margin-left: 8px;
    padding: 3px;
  }
  .svg-icon{
    color: $toolbar-icons;
    vertical-align: middle;
  }
  .svg-icon:hover{
    color: $toolbar-icons-hover;
  }
}
